/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
    background: url(https://imgur.com/S5EtXIt.png);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .touchpad {
    width: 262px;
    height: 151px;
    position: absolute;
    left: 272px;
    top: 122px;
}

.ds4 .touchpad.pressed {
    background: url(https://imgur.com/3U1J6zU.png) no-repeat center;
}

/*Not needed, but I like keeping them here for posterity*/
/*.ds4 .quadrant{
position: absolute;
background: url(ps4-assets/player-n.svgz);
height: 17px;
width: 111px;
top: 140px;
left: 240px;
}
.ds4 .p0{
background-position: 0 -6px;
}
.ds4 .p1{
background-position: 0 -28px;
}
.ds4 .p2{
background-position: 0 -49px;
}
.ds4 .p3{
background-position: 0 -70px;
}*/
.ds4 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

}

.ds4 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 159px;
    left: 567px;
}

.ds4 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://imgur.com/pNH6N1V.png);
}

.ds4 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds4 .a {
    background-position: 0 0;
    bottom: 0;
    left: 58px;
}

.ds4 .b {
    background-position: -57px 0;
    top: 58px;
    right: 0px;
}

.ds4 .x {
    background-position: -113px 0;
    top: 58px;
}

.ds4 .y {
    background-position: 55px 0;
    left: 58px;
}

.ds4 .sticks {
    position: absolute;
    width: 361px;
    height: 105px;
    top: 308px;
    left: 228px;
}

.ds4 .stick {
    position: absolute;
    background: url(https://imgur.com/71Lauvz.png);
    height: 94px;
    width: 94px;
}

.ds4 .stick.pressed.left {
    background-position-x: -96px;
}

.ds4 .stick.pressed.right {
    background-position-x: -192px;
}

.ds4 .stick.left {
    top: 0;
    left: 0;
}

.ds4 .stick.right {
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}

.ds4 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 181px;
    left: 92px;
}

.ds4.half {
    margin-top: -300px;
}

/*END PS4 Controller Styling*/
